:root {
    --primary-clr-nutmeg: hsl(14, 45%, 36%);
    --primary-dark-raspberry: hsl(332, 51%, 32%);

    --clr-white: hsl(0, 0%, 100%);
    --clr-rose-white: hsl(330, 100%, 98%);
    --clr-egg-shell: hsl(30, 54%, 90%);
    --clr-light-grey: hsl(30, 18%, 87%);
    --clr-wenge-brown: hsl(30, 10%, 34%);
    --clr-dark-charcoal: hsl(24, 5%, 18%);

    --ff-young-serif: 'Young Serif', serif;
    --ff-outfit: 'Outfit', sans-serif;
}

.border-radius-100 {
    border-radius: 8px;
}

.darkgrey {
    color: var(--clr-wenge-brown);
    font-weight: 600;
}

.clr-nutmeg {
    color: var(--primary-clr-nutmeg);
}

li::marker {
    font-size: 0.8rem;
}

.border-bottom {
    border-bottom: 1px solid var(--clr-light-grey);
}

.fw-100 {
    font-weight: 700;
}